<% include ../partials/boilerplate %>

<section>

  <form action="/create" method="POST">
    <div class="infield">
      <input type="text" name="creator">
    </div>

    <div class="infield">
      <input type="text" name="caption">
    </div>

    <div class="infield">
      <input type="text" name="url">
    </div>

    <div class="infield">
      <input type="submit" name="log it!">
    </div>

  </form>

</section>

<% include ../partials/end %>
