<% include ../partials/boilerplate %>

<div class="wrapper">
  <div class="container">

    <form action="/posts" method="POST">

      <!-- <div class="infield">
        <input type="text" name="creator">
      </div> -->

      <div class="infield">
        <input size="35" placeholder="Give me a caption" id="caption" type="text" name="caption">
      </div>

      <div class="infield">
        <input size="35" placeholder="Give me a URL" id="url" type="text" name="url">
      </div>

      <div class="submit">
        <input type="submit" name="post">
      </div>

    </form>

  </div><!-- closing container div -->
</div><!-- closing wrapper -->

<% include ../partials/end %>
