<% include ./partials/boilerplate %>

<section>
  <form action="/login" method="POST">
      <div class="infield">
        <!-- add an icon font awesome-->
        <input type="text" placeholder="username" name="username">
      </div>

      <div class="infield">
        <!-- add fotna wesome  -->
        <input type="input" placeholder="password" name="password">
      </div>

      <div class="infield">
        <!-- add fotna wesome  -->
        <input type="submit" value="uLog!">
        <!-- dont forget to add class to style this ugly submit -->
      </div>
  </form>


</section>

<% include ./partials/end %>
